html, body{
  height: 100%;
}

.container-fluid{
  height: 100%;
  overflow-y: auto;
}

.player{
  max-width:991px;
  max-height: 330px;
  height: auto;
}

.img-max{
  max-width: 991px;
  height: auto;
  width: 100%;
}
